<h1>Policies</h1>

<% if @response["data"].any? %>
  <% if @response["data"]["policies"].any? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Policy Id</th>
          <th scope="col">Stare Date</th>
          <th scope="col">End Date</th>
          <th scope="col">CPF</th>
          <th scope="col">Name</th>
          <th scope="col">Plate</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @response["data"]["policies"].each do |policy|%>
          <tr>
            <th scope="col" class="text-center""><%= policy["policyId"] %></th>
            <td><%= policy["issueDate"] %></td>
            <td><%= policy["endCoverageDate"] %></td>
            <td><%= policy["insured"]["cpf"]%></td>
            <td><%= policy["insured"]["name"] %></td>
            <td><%= policy["vehicle"]["plate"] %></td>
            <% if policy["paymentStatus"] == "awaiting_payment" %>
              <td><%= link_to "Awaiting payment", policy["paymentLink"], target: "_blank" %></td>
            <% else %>
              <td>Paid</td>
            <% end %>                                       
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="error-page">
    <div class="dialog">
      <div>
        <h1>We're sorry.</h1>
      </div>
      <p>GraphQL Message - No policies!</p>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="error-page">
    <div class="dialog">
      <div>
        <h1>We're sorry, but something went wrong.</h1>
      </div>
      <p>GraphQL Message - Unable to load Policies:<br/> <%= @response["errors"][0]["message"] %></p>
    </div>
  </div>
<% end %>
